.like__btn {
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    box-shadow: none;

    svg {
        width: 24px;
        height: 22px;
        transition: fill 0.5s;
    }

    &:hover {

        svg {
            fill: $red;
        }
    }
}

.like__counts {
    font-size: 11px;
    font-family: "roboto_condensedlight";
    color: $red;
    text-transform: uppercase;
    line-height: 1.091;
    display: block;
    margin: 5px 0 0 0;

    @media (min-width: 1500px) {
        @include dynamicText(68.75%, 22, 11, 1500px, 3000, 1500);
    }
}